@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind common styles */
@layer base {
    html {
        font-family: "Mulish", system-ui, sans-serif !important;
    }

    .container {
        margin: 0 auto;
        max-width: 1536px;
        padding: 0 12px;
        width: 100%;
    }

    body {
        @apply text-white
    }

    .v-tooltip > .v-overlay__content {
        @apply !bg-white font-semibold
    }
}

